body{
	overflow-x: hidden;
}
/*start style for First row*/
.first-header{
	background-color: #dedede;
	height: 30px;

}
.cont1{
  color: #999999;
  margin-left: 10px;


}
  .cont2{
	color: #999999;
	padding-left: 54%;

}
  .cont3{
  	color: #999999;
  	float: right;
  	margin-right: 10px;


}

/*
@media only screen and (max-width: 992px){
	.cont2{

	padding-left: 40%;
	  }

}*/

@media only screen and (min-width: 768px){
	.cont2{

	padding-left: 35%;

	  }


}

@media only screen and (min-width: 600px){
	.cont2{

	padding-left: 20%;

	  }

}

@media only screen and (max-width: 600px){
	.first-header span{
		font-size: 12px;
	}
	.cont2{

	padding-left: 25px;

	  }

}


/*End style for First row*/



.navbars{
	margin-top: 25px;
	display: inline;
}
.nav-content{
	margin-top: -60px;
}
.nav-content a{
	font-size: 10px;
	color: black;
	text-decoration: none;
}
.btnRabt{
position: absolute;
padding: 3px 0px 0px 10px;
border:1px solid #afafaf;
background: #eaeaea;
margin-top: -38px;
margin-left: 32%;
}
.btnRabt span{
color: #ee8b19;
}
.btnRabt i{
margin-left: 15px;
background:#ee8b19;
color: #fff;
padding-top: 7px;
padding-bottom: 5px;
margin-top: -5px;
}
.btnRabt-row{
  display: none;
}
.btnRabt-row i{
	 margin-top: -5px;
	margin-left: 15px;
	padding: 6px 2px;
	background:#ee8b19;
	color: #fff;
}

@media only screen and (max-width: 600px){
	.btnRabt{
		display: none;
	}
   .btnRabt-row{
   	display: block;
   	margin-left: 42%;
	height: 40px;
	margin-top: -5px;
   }
   .btnRabt span{
	color:#ee8b19;
	font-size: 22px;
}
}
@media only screen and (max-width: 768px){
	.btnRabt{
		margin-left: 10%;
	}
}
/*End Navbars*/


/*start bootm vavbars*/
.botom-nav{
	padding-top: 29px;
	border-bottom: 1px solid #7f7f7f;
}

.cont-botom-nav {
	font-weight: bold;
	padding-left: 10px;
}
.suchen{
	position: relative;
	width: 200px;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid black;
	border-radius: 0px;
	float: right;
	margin-right: 15px;
	margin-top: -57px;
	margin-left: 10px;
}
input::placeholder{
	padding-left: 5px;

}
input[type="text"]:focus{
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid black;
	border-radius: 0px;
	border-color: none;
	 box-shadow:none;

}

@media only screen and (max-width: 768px){
	.cont-botom-nav{
		font-size: 14px;
	}
}
@media only screen and (max-width: 600px){
	.cont-botom-nav{
		font-size: 12px;
	}
	.suchen{
		width:150px;
	}
}
@media only screen and (max-width: 500px){
	.cont-botom-nav{
		font-size: 10px;
	}
	.suchen{
		width:110px;
	}
}



/*End Bottom Navbars*/



/* Start style first row brand */
.images-brand{
	margin-top: 10px;
}
.centered-logo{
	position: absolute;
	top: 25%;
	left: 50%;
	width: 90px;
	height: 90px;
}
.centered-text{
	color: white;
	position: absolute;
	top: 45%;
	left: 35%;
}
.centered-text2{
	color: white;
	position: absolute;
	top: 49%;
	left: 42%;
}
.centered-buton-man{
	background-color: white;
	position: absolute;
	top: 63%;
	left: 18%;
	width: 250px;
	height: 40px;
	color: black;
	padding-left: 30px;
	padding-top: 7px;
}
.centered-buton-man:hover{
	color: black;
	text-decoration: none;
}
.centered-buton-women{

	position: absolute;
	top: 63%;
	left: 55%;
	width: 250px;
	height: 40px;
	color: white;
	padding-left: 30px;
	padding-top: 7px;
	border: 1px solid white;
}
.centered-buton-women:hover{
	color: white;
	text-decoration: none;
}
@media only screen and (max-width: 1200px){
    .centered-buton-man{

		}
		.centered-buton-women{
      top: 74%;
			left: 18%;
		}
}



@media only screen and (max-width: 768px){
	.centered-buton-man{
		top: 63%;
		left: 8%;
	}
	.centered-buton-women{
		top: 63%;
		left: 55%;
	}
}
/* End style first row brand */


/* Start Style slide */
.slide-border{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.carousel-control-next-icon{
	color: black;
}
.sr-only{
	color: black;
}
.fa-angle-left{
	font-size: 25px;
	color: black;
	margin-left: -70px;
}
.fa-angle-right{
	font-size: 25px;
	color: black;
	margin-right: -70px;
}
/* End Style slide */

 /* start style Recommendations */
  .hearder-Recommendations{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.recom h6{
		text-decoration: none;
		color: black;
	}
	.recom p{
		text-decoration: none;
		color: black;
	}
	.recom:hover{
		color: black;
		text-decoration: none;
	}
	.img-rcom{
		height: 200px;
		width: 100%;
	}
	.header-img-rcom{
		/* margin-left: 33%; */
		/* color: black; */
	}

/* end style Recommendations */
